body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

a {
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 390px;

}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 195px 78px;

}

.img {
	width: 130px;
}

a {
	text-decoration: none;
}

.item {
	text-align: center;
	height: 74px;
	display: block;
	width: 191px;
	transition: 1s;
	padding: 2px;
}
.item:hover {
	transform: scale(1);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.item-collect {
	padding-top: 10px;
	background-color: white;
	height: 64px;
	width: 192px;
	z-index: -1;
}

.item:hover {border:none;}

.icons-basket-wrapper {
	border: 1px solid rgba(158, 158, 158, 0.3);
	border-radius: 50%;
	height: 35px;
	width: 35px;
	float: right;
}

.usercard {
	text-align: center;
}

.element {
	color: #333333;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.count {
	color: #999999;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}

.item-stock {
	margin-top: 5px;
}

.item-stock .icon {
    width: 5px;
    height: 5px;
    background: #5fa800;
    margin: 6px 0px 0 0;
    border-radius: 100%;
}

.item-stock>span {
    display: inline-block;
    vertical-align: top;
    color: #5fa800;
    line-height: 15px;
	font-size: 14px;
}


.img_prod {
	padding-top: 20px;
	width: 100%;
	display: block;
      margin: 0 auto;
}
.item_box {
	padding-right: 50px;
	padding-left: 50px;
}

.item_title {
	font-weight: 400;
	font-size: 14px;
}

.svg {
    width: 38px;
    height: 38px;
    line-height: 37px;
    top: 0px;
    background: none;
    margin: 0px;
}

.item_price {
	font-size: 16px;
	font-weight: bold;
}

.ellipse {
  border: 1px solid rgb(153, 153, 153, 0.5);
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.svg path{
	fill: #999;
}

.button_block {
	width: 37px;
	display: inline;
	height: 37px;
}

.btn-exlg {
	position: relative;
   top: 7%;
   left: 18%;
   transform: translate(-20%, -20%);
}

.list_values_wrapper {
	padding: 0;
}

.list_values_wrapper li {
	display: inline-block;
	border: 1px solid #dddddd;
	padding: 4px!important;
}

.item_info {
	height: 37px;
}


.active {
	border-color: #000000;
	color: #FFF;
    background: #000000;
}
.cnt {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}

.add_item {
	opacity: 10;
}