{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>

	<div class="container">
		<div class="inner">
			{% for i in catalog %}
                <a class="item" href="{% url 'category' i.id %}">
                <div class="item-collect">
                    <span class="element">{{ i.title }}</span><br>
                    <span class="count">{{ i.amount }}</span>
                </div>
                </a>
			{% endfor %}
		</div>
	</div>
	<div class="usercard" id="usercard"></div>


	<script src="https://telegram.org/js/telegram-web-app.js"></script>
	<script src="app.js"></script>
</body>
</html>